body {
	background-color: lightslategray;
	color: lavender;
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	margin: 0;
}

.p { margin: 13px 0; }
.left { float: left; }
.right { float: right; }
.bold { font-weight: bold; }

#top {
	background: #999999 url('/images/bg_top.png') repeat-x;
	color: black;
	font-size: 13px;
	height: 22px;
	padding: 0 1%;
}
#top a {
	color: black;
	text-decoration: none;
}
#top ul li .label {
	display: block;
	height: 19px;
	padding: 1px .5em;
}
#top ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#top ul li {
	float: left;
}
#top li.ui-menu-header .active .label {
	background-color: #708090;
	color: white;
}
#top li.ui-menu-content {
	position: absolute;
	border: 1px dashed #708090;
	border-top: 1px solid #333333;
	padding: 0 1.5em .5em 1em;
}
#top li.ui-menu-content ul li {
	float: none;
	margin: .2em 0;
}

.content {
	margin: 3em 4em 1em 4em;
}

table {
	border-collapse: collapse;
	font-size: .9em;
	width: 100%;
}
table#logins thead tr th { text-align: left; }
table#logins thead tr th.name { width: 27%; }
table#logins thead tr th.username { width: 12%; }
table#logins thead tr th.email { width: 17%; }
table#logins thead tr th.groups { width: 30%; }
table#logins thead tr th.actions, table#logins tbody tr td.actions { min-width: 60px; text-align: right; width: 6%; }
table tr { height: 2.6em; }
table#groups thead tr th { text-align: left; }
table#groups thead tr th.name { width: 27%; }
table#groups thead tr th.desc { width: 67%; }
table#groups thead tr th.actions, table#groups tbody tr td.actions { min-width: 60px; text-align: right; width: 6%; }
table tr { height: 2.6em; }

p {
	font-size: 12px;
	display: block;
	margin: 1em 0;
}

a.action {
	outline: 0;
	margin: 0 4px 0 0;
	padding: .4em 1em;
	text-decoration:none !important;
	cursor: pointer;
	position: relative;
	text-align: center;
	zoom: 1;
}
a.button, a.submit {
	padding: 0.4em 1em 0.4em 20px;
	position: relative;
	text-decoration: none;
}
a.action .ui-icon {
	left: 50%;
	margin-left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
}
a.button .ui-icon, a.submit .ui-icon {
	left: 0.2em;
	margin: -8px 5px 0 0;
	position: absolute;
	top: 50%;
}

