body { font-family: Verdana, Arial, sans-serif; font-size: 13px; margin: 0; }

.left { float: left; }
.right { float: right; }
.bold { font-weight: bold; }

#top { background: #999999 url('/images/bg_top.png') repeat-x; height: 22px; padding: 0 .5em; }
#top a { color: black; text-decoration: none; }
#top ul li .label { display: block; height: 19px; padding: 1px .5em; }
#top ul { list-style-type: none; margin: 0; padding: 0; }
#top ul.left li { float: left; }
#top ul.right li { float: left; }
#top ul li.hidden ul li { float: none; margin: 0; }

p {
    font-size: 12px;
    display: block;
    margin: 1em 0;
}
:-moz-any-link {
cursor:pointer;
}