%div{ :style => 'min-width: 640px; width: 80%;' }
  .ui-widget
    .ui-widget-header.ui-corner-top{ :style => 'border: none; padding: 2px 1em; font-weight: normal;' }
      = t 'actions.protected.groups.index'
    .ui-widget-content{ :style => 'padding: 4px 1em;' }
      %pagination
        &nbsp;
        // Tabs loading content via AJAX?
      %table#groups.ui-helper-reset
        %thead
          %tr
            %th.name
              = t 'activerecord.attributes.group.name'
            %th.desc
              = t 'activerecord.attributes.group.desc'
            %th.actions
        %tbody
          = render @groups
      %pagination
        &nbsp;
        // Tabs loading content via AJAX?
