.ui-widget{ :style => 'min-width: 640px; width: 80%;' }
  .ui-widget-header.ui-corner-top{ :style => 'padding: 3px 1em; font-weight: normal;' }= t 'actions.protected.logins.edit', :name => @login.name
  .ui-widget-content{ :style => 'padding: 4px 1em;' }
    - form_for [:protected, @login] do |f|
      = render 'form', :f => f

%p
  %a.submit{ :style => 'padding: 0.4em 1em 0.4em 20px; position: relative; text-decoration: none;', :href => '#' }
    %span.ui-icon.ui-icon-disk{ :style => 'left: 0.2em; margin: -8px 5px 0 0; position: absolute; top:50%;' }
    = t 'actions.protected.logins.update'
  &nbsp;
  %a.button{ :style => 'padding: 0.4em 1em 0.4em 20px; position: relative; text-decoration: none;', :href => return_uri }
    %span.ui-icon.ui-icon-cancel{ :style => 'left: 0.2em; margin: -8px 5px 0 0; position: absolute; top:50%;' }
    = t 'actions.cancel'
