%div{ :style => 'margin: 1em auto; width: 560px;' }
  .ui-widget
    .ui-widget-header.ui-corner-top{ :style => 'padding: 2px 1em;' }= t 'actions.protected.logins.show', :name => @login.name
    .ui-widget-content{ :style => 'padding: 4px 1em;' }
